@charset "UTF-8";

html,body{
	width:100%;
	margin:0px auto ;
	margin-top:10px;
	background: #92dcdcb0;
}
。container{
margin:0px auto;
}
.left{
	width:300px;
	height:520px;
	background: #e8fefe91;
	float:left;
	margin-left:40px;
}
.right{
	width:300px;
	height:500px;
	float:left;
	padding-left:100px;
}
.up{
	display:block;
	background: #e8fefe91;
}
.bottom{
	height:135px;
	display:block;
	background:#e8fefe91;
	
}
.picframe{
	width:100px;
	height:100px;
	align:center;
	
}
.profile{
	width:100%;
	height:100%;
}
.righter{
	width:400px;
	height:250px;
	background: #e8fefe91;
	float:left;
	margin-left:100px;
}
.Message{
	width:800px;
	height:230px;
	background: #e8fefe91;
	position: absolute;
	right:95px;
	bottom: 10px;
}





