@charset "UTF-8";
html,body{
	width:100%;
	background: #92dcdcb0;
}
td .picture{
width:250px;
height:200px;
}
.classLabel{
width:100px;
text-align:right;
}
.grade{
width:100px;
}
.name{
	font-weight: bold;
	background-color: burlywood;
}
.numberLabel{
	width:50px;
	text-align:right;
}
.clearance{
height:40px;
}
.oneclass{
	background-color: #e8fefe91;
}